<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ album.name }}</title>
</head>
<body>
    <h1>{{ album.name }}</h1>
    <ul>
        {% for photo in album.photos.all %}
            <li>
                <h2>{{ photo.title }}</h2>
                <img src="{{ photo.image.url }}" alt="{{ photo.title }}" width="300">
            </li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'upload_photo' %}">新規画像のアップロードはこちら</a></p>
    <p><a href="{% url 'create_album' %}">アルバム作成はこちら</a></p>
    <p><a href="{% url 'photo_list' %}">画像リストはこちら</a></p>
</body>
</html>